# Kibana is served by a back end server. This controls which port to use.
server.port: {{ kibana_server_port }}

# The host to bind the server to.
server.host: {{ kibana_server_host }}

# The Elasticsearch instance to use for all your queries.
elasticsearch.url: {{ kibana_elasticsearch_url }}

#Optional parameters 
{% if kibana_config is defined %}
{% for config in kibana_config %}
{{ config.key }}: {{ config.value }}
{% endfor %}
{% endif %}
